.projetos {
    background: var(--gunmetal);
    padding-top: 56px;
}
 .projetos_conteudo{
    text-align: center;
    margin:0 auto;
    padding:8rem 2rem;
    font-size: 2rem;
    color:var(--champanhe);
}
 .projetos_unidade{
     padding:0.5rem;
     border: 1px solid var(--champanhe);
     width:280px;
     height: 440px;
     display: flex;
     flex-direction: column;
     display: flex; align-items: center; justify-content: center; 
     -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}
 .projetos_unidade>h3{
     margin-top:1rem;
     margin-bottom: 2rem;
}
 .projetos_unidade>img{
     width: 160px;
}
.projetos__buttons{
    width:100%;
}
 .projetos__button {
    width:100%;
    display:flex;
    justify-self: center;
    justify-items: center;
    justify-content: center;
    align-self: center;
    height: 50px;
    padding: 0rem;
    margin-top: 2rem;
     background-color: var(--champanhe);
     color: var(--gunmetal);
     border: none;
    border-radius: 5px;
     box-shadow: 1px 1px 12px 0px rgba(239, 217, 206, 0.75);
     -webkit-box-shadow: 1px 1px 12px 0px rgba(239, 217, 206, 0.75);
     -moz-box-shadow: 1px 1px 12px 0px rgba(239, 217, 206, 0.75);
     font-family: "Monda", sans-serif;
     cursor: pointer;
}
.projetos__button > i{
    filter: invert(100%);
    align-self: center;
}
 .projetos__button a {
    align-self: center;
    text-decoration: none;
    color: var(--gunmetal);
}
 @media screen and (min-width: 800px) {
    .projetos__buttons{
        width:100%;
      
    }
     .projetos__button {
        width:100%;
         padding: 0.8rem;
         margin-top: 2rem;
         font-size: 1rem;
        font-weight: bold;
    }
}
 @media screen and (min-width: 1441px) {
    .projetos_conteudo {
        max-width: 1300px;
    }
}
